.project-image-wrap {
    display: flex;
    flex-direction: column;
}

#clou_xs {
    margin-bottom: 60px;
}

.reviews-wrap__text {
    margin-top: 20px;
}

.button {
    text-align: center;
    margin-top: 15px!important;
    margin-left: 0 !important;
}

.button:hover {
    transform: scale(0.97);
}

#headerwrap {
    padding-bottom: 20px;
    padding-top: 225px;
}

@media (min-width: 1200px) {
    .navbar-content {
        left: 180px;
        padding-left: 30px;
    }

    #headerwrap {
        padding-top: 180px !important;
        padding-bottom: 0 !important;
    }
}

@media (max-width: 740px) {
    .navbar-header {
        padding-left: 0;
    }
    .text-above-timer {
        text-align: left;
    }
    #clock {
        text-align: initial !important;
    }
}

.button__center {
	margin-right: auto !important;
	margin-left: auto !important;
}

.text-above-timer {
    margin-bottom: 30px;
}

html, body {
    overflow-x: hidden !important;
}

#why {
    min-height: auto !important;
}

.Rem {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.clock-cell__wrap {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}